{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "rules": {
    "space-before-function-paren": "off",
    "react/jsx-handler-names": "off"
  }
}
